.container {
  width: 50%;
  float: left;
}

.favorites {
  width: 50%;
  float: left;
}

img {
  width: 300px;
}

.squares {
  display: block;
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  background-color: #f0f0f0;

}

.rmvBtn {
  height: 20px;
  width: 145px;
  background-color: white;
}

.favBtn {
  height: 20px;
  width: 145px;
  margin-left: 10px;
  background-color: white;
}
